body {
    width: 1000px;
    margin: 0 auto;
    background: black;
    color: #FFF;
  }
  header {
    height: auto; /* สูงของ header แต่ละส่วน */
    text-align: center;
    color: grey;
    padding-top: 20px; /* ระยะห่างของเนื้อหาจากด้านบน */
    font-size: 2.5em;
    font-weight: bold;
    
  }
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
footer {
  background-color: blanchedalmond;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
#game {
  width: 1000px;
  height: 400px;
  margin: auto;
  background-color:white;
}
#character {
  width: 40px;
  height: 100px;
  background-color: rgb(4, 5, 98);
  position: relative;
  top: 300px;
}
.animate {
  animation: jump 500ms infinite;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  50% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  background-color: palevioletred;
  width: 40px;
  height: 40px;
  position: relative;
  top: 260px;
  left: 960px;
  animation: block 1s infinite linear;
}
@keyframes block {
  0% {
    left: 960px;
  }
  100% {
    left: -40px;
  }
}
